:root {
    --bg: #090c13;
    --acc: oklch(0.61 0.16 135.33);
    --acc-d: oklch(0.61 0.09 135.33);
    --acc-dt: oklch(0.61 0.09 135.33 / 0.3);
    --acc-m: oklch(0.61 0.04 135.33);
    

    --acc-t: oklch(0.25 0.16 135.33);
    --acc-t2: oklch(0.18 0.16 135.33);
    --grid-size: 210px;
    --grid-size2: 130px;

}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    height: 100vh;
    background-color: var(--bg);
    color: var(--acc);
}

a {
    color: var(--acc-d);
}

a:hover {
    color: var(--acc)
}

footer {
    position: relative;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
}

.title {
    font-size: 34px; 
    margin-bottom: 30px;
    text-align: center;
}

.choice {
    font-size: 30px;
}

.choice:hover::before {
    content: ">";
    position: absolute;
    transform: translatex(-1.2ch);
}



.container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    height: 100%;
    padding: 0 10px;
}

.mobileWarn {
    padding-top: 30px;
    color: var(--acc-m);
    align-items: center;
    /* word-wrap: break-word; */
    flex-direction: column;
    display: none;
}

.other {
    padding: 50px 24px 24px;
}